.c-00{
	color: #000 !important;
}
.c-ff{
	color: #fff !important;
}
.c-01{
	color: #ff7138 !important;
}
.c-02{
	color: #ff6d22 !important;
}
.c-03{
	color: #2ab9fd !important;
}
.c-04{
	color: #757575 !important;
}
.c-05{
	color: #b8b8b8 !important;
}