.f-12{
	font-size: 12px;
}
.f-13{
	font-size: 13px;
}
.f-14{
	font-size: 14px;
}
.f-15{
	font-size: 15px;
}
.f-16{
	font-size: 16px;
}
.f-17{
	font-size: 17px;
}
.f-18{
	font-size: 18px;
}
.f-20{
	font-size: 20px;
}
.f-22{
	font-size: 22px;
}